<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<div>
    <h4>Starting Date: <span style="font-weight: normal;"><%= @project.formatted_start_date %></span></h4>
</div>

<div>
    <h4>Deadline: <span style="font-weight: normal;"><%= @project.formatted_end_date %></span></h4>
</div>


<%= link_to "Back", root_path %>